*{
border-box:box-sizing;
}

body{
	width: 1000px;
    height: 1000px;
    margin: 0 0 0 6px;
}
img.picture{
	border:solid;
}
.list{
	  width: 1000px;
    height: 1170px;
    display: inline-block;
    margin-left: 90px;
    border: none;
    padding-right: 25px;
    }
.format{
	    float: right;
    margin: 10px;
    width: 227px;
    height: 370px;
    margin-right: 10px;
	
}

.picture{
	height: 200px;
    width: 200px
}
.name{
	text-align:center;  
    font-size: x-large;
    text-decoration: underline;
    text-indent: 1px;
    color:green;
}
.email{
	  text-align: center;
    text-indent: 0px;
    margin: 7px;
    font-size: 30px;
    font-size: 16px;
    padding-right: 18px;

}
.zip{
	text-align:center;
	text-indent: 1px;
	margin:10px;
}
.street{
	text-align:center;
    text-indent: 1px;
    margin:10px;
}
.state{
	text-align:center;
	text-indent: 1px;
    margin:10px;
}
.number:hover{
	text-align:center;
    margin:15px;
    color:green;
    font-size: 15px;

}

.number{
	text-align:center;
    margin:15px;
    color:green;
    font-size: 15px;
   }
   .SSN:hover{
   	text-align:center;
   	font-size:15px;
   	color:green;
   }
.SSN{
	text-align:center;
	color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}